<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PLSP</title>

</head>
<header>
    <a href="">logo</a>
    <ul>
        <li>home</li>
        <li>projects</li>
        <li>skills</li>
        <li>contact</li>
    </ul>
</header>