input{
    width: 100%;
    border: none;
    border-bottom: 1px solid green ;
    border-radius: 0;
    
}
label{
    color: green;
}
[type=submit]{
    margin-top: 20px;
}
.form-control{
    width: 16rem;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid green ;
    border-radius: 0;
}
.form-control:focus{
    box-shadow: none;
    border: 1px solid green;
}


